
html, body {
    background: rgba(87, 155, 219, 0.24) ;

    margin: 0px;

    height: 100%;
    overflow: hidden;
}

p, h1, h2 {
    font-family: 'Open Sans', sans-serif;
}

.all-content {
    /* background-image: url('img/background.jpg'); */
    display: flex;
    max-width: 1172px;
    min-height: 100%;

    margin-left: auto;
    margin-right: auto;
}


/* синяя линия */
.side-main {
    background: rgba(93, 165, 232, 0.79);
    width: 272px;

    min-height: 100%;

    display: inline-block;
}

/* поиск и сайдбар по центру */
.side-main > div {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: 121px;
    width: 264px;

    margin-top: 47px;
    margin-bottom: 7px;
}

.logo > img {
    height: auto;
    width: 100%;
}

/* поиск и сайдбар */
.sc {
    width: 220px;
    height: auto;
}

.sc > div {
    margin-bottom: 20px;
}

/* ------------ поле поиска --------------- */
.search {
    background: #B2D3F2;
    /* поиск */

    box-shadow: 0px 4px 14px -6px #687E93;
    border-radius: 26px;

    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 11px;
    padding-right: 10px;
}

.search form {
    display: flex;
}

.search-field  input{
    background-color: #FFFFFF;
    border-radius: 26px;

    border: none;

    height: 35px;
    width: 156px;

    margin-bottom: 0px;

    padding-left: 17px;

    /*  */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.58);

    transition-property: background-color border-radius;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.search-field input::placeholder {
    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.search-field input:focus {
    outline: none;
    color: black;
    border-radius: 10px;
    background-color: #F4C13D;
}

.search-field input:focus::placeholder {
    color: transparent;
}
/* --------------------------------------- */

/* ---------- кнопка поиска -------------- */
.btn {
    padding: 0;

    margin-left: auto;
    border: none;
    background: rgba(255, 255, 255, 0.84);
    box-shadow: 0px 3px 5px #C1C1C1;

    width: 36px;
    height: 36px;
    border-radius: 50%;

    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.btn.searchBtn {
    background: transparent;
    box-shadow: none;
}

.btn.searchBtn img {
    margin: auto;
    width: 27px;
    height: 26px;
    transition-property: all;
    transition-duration: 0.1s;
    transition-delay: 0s;
}

.btn.searchBtn:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.84);
    box-shadow: 0px 3px 5px #C1C1C1;
}

.btn.searchBtn:hover img {
    width: 20px;
    height: 20px;
}
/* --------------------------------------- */


/* ------------- sidebar ----------------- */
.sidebar {
    height: 296px;
    background: #B2D3F2;
    /* блок */

    padding-left: 18px;
    padding-top: 19px;
    padding-bottom: 0;

    box-shadow: 0px 4px 14px -6px #687E93;
    border-radius: 26px;
}

.sidebar li {
    align-items: center;
    display: flex;

    padding-bottom: 30px;
}

.sidebar img {
    margin-right: 12px;
}



.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}

.sidebar a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;

    padding: 0;
}
/* --------------------------------------- */

/* -------------- content ---------------- */
.main-content {
    width: 900px;

    padding-left: 30px;
    padding-top: 56px;
}

.main-content > div {
    margin-top: 22px;
}

/* --------- */
.navbar {
    width: 100%;
    height: 65px;
    
    background: #B2D3F2;
    /* блок */

    box-shadow: 0px 4px 14px -6px #687E93;
    border-radius: 26px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar-text{
    list-style-type: none;
    margin-left: 8px;
    padding: 0;

    display: flex;
}

.navbar-text li {
    margin-right: 14px;

    border: none;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 21px;

    padding: 3px 8px 5px 8px;

    border: 2px solid;
    border-color:  rgba(0, 0, 0, 0);

    transition-property: border-color, background-color;
    transition-duration: 0.5s, 0.1s;
    transition-delay: 0s;

}

.navbar-text li:last-child {
    margin-right: 0 !important;
}

.navbar-text li:hover {
    border-color: #2A3161;
}

.navbar-text li:active {
    background-color: #80C1FF !important;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, 0);
}

.navbar-text a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
/* --------- */

/* -- фотографии -- */

.photos-carusel {
    height: 369px;
    
    background: #B2D3F2;

    box-shadow: 0px 4px 14px -6px #687E93;
    border-radius: 36px;

    /* display: ; */
    align-items: center;
}

.pab {
    padding-top: 54px;

    display: flex;
    align-items: center;
}

/* -- buttons -- */
.buttonbg {
    width: 42px;
    height: 42px;

    border-radius: 50%;

    margin-left: 12px;
    margin-right: 12px;

    background: #DCDCDC;
    transform: translateY(2px)
               translateX(2px);
}

.btn.arr {
    width: 42px;
    height: 42px;

    box-shadow: none;

    transform: translateY(-2px)
               translateX(-2px);
    
    transition-duration: 0.1s;
    transition-delay: 0s;
}

.btn.arr img{
    margin: auto;

    width: 21px;
    height: 21px;
}

.btn.arr.right img {
    transform: rotate(180deg) 
               translateX(-2px);
}

.btn.arr.left img {
    transform: translateX(-2px);
}

.btn.arr:hover {
    transform: translateY(-3px)
               translateX(-3px);
    
}

.btn.arr:active {
    transform: translateY(-1.5px)
               translateX(-1.5px);

}
/* ------------- */

.photos-list {
    /* margin-top: 54px; */
    /* margin-left: 67px; */

    width: 736px;
    height: 256px;

    display: inline-block;
    position: relative;
    overflow: hidden;
}

.photos-list ul {
    width: 9999px;
    height: 256px;
    margin-left: 0px;

    transition-property: margin-left;
    transition-duration: 0.7s;

}

.photos-list li{
    display: inline-block;
    margin-right: 30px;
}

.photos-list li:not(:first-child) {
    margin-left: -4px;
}

.photos-list img {
    width: 353px;
    height: 256px;

    display: block;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 118, 185, 0.25)); */
    border-radius: 26px;
}

.dots {
    height: 10px;
    width: 500px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
    margin-top: 23px;

    display: flex;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;

    border-radius: 50%;

    margin-right: 6px;

    background-color: white;

    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));

    transition-property: background-color;
    transition-duration: 0.7s;

}

.active {
    background-color: #1E68AC;
}

/* ----------------------------- */

.whitetext {
    width: 100%;

    background: rgba(255, 255, 255, 0.81);
    
    box-shadow: 0px 2px 8px 2px #B2D3F2;
    border-radius: 36px;

    padding-left: 78px;

    align-items: center;
    display: flex;
}

.whitetext.hello {
    height: 84px;
}

.whitetext.hello p {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

.whitetext.att {
    height: auto;
}

.text {
    padding-top: 22px;
}

.text h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;

    margin-bottom: 15px;
}

.text p {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    margin-bottom: 22px;
}

